
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body ">

            <h3
                class="text-center text-center text-decoration-underline text-uppercase">
                <i class="p-2 fa-sharp fa-solid fa-right-to-bracket"></i>
                SignIn Page
            </h3>

            <form action="/users/create-session" method="POST">

                <div class="form-group p-2">
                    <label for="email">Email address</label>
                    <input type="email"
                        class="form-control"
                        id="email"
                        name="email"
                        aria-describedby="emailHelp"
                        value="<%= typeof email !='undefined' ? 'email' : '' %>"
                        placeholder="Enter email" />
                </div>

                <div class="form-group p-2">
                    <label for="password">Password</label>
                    <input type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        value="password" />
                </div>

                <div class="p-2">
                    <button type="submit"
                        class="btn btn-primary">
                        SIGNIN
                    </button>
                </div>

                <div class="row mt-5">
                    <button id="google-signin-btn"
                        class="text-white 
                                col-md-6 m-auto 
                                border border-5
                                rounded">
                        <img
                            src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-vector-graphic-pixabay-15.png"
                            style="width: 1rem;" />
                        <a href="/users/auth/google"
                            class="p-2
                                    text-decoration-none 
                                    text-black ">
                            Google
                        </a>
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
